# Exporta ruta del directorio Nextcloud_basic_client
export NEXTCLOUD=$(find /home/{{ default_user }}/Next* -type d -name Nextcloud_basic_client)

# FUNCION para el alias ncsync (no se puede hacer un alias directamente ya que da error por las comillas)
nsync_function () {
        sudo nextcloudcmd -u {{ ncuser }} -h -p '{{ ncpassword }}' --path Linux $NEXTCLOUD {{ ncfqdn }}
        sudo chown -R {{ default_user }}:{{ default_user }} $NEXTCLOUD/*
}

if [ $(which nextcloudcmd) -a "$NEXTCLOUD" ]; then
        alias ncsync='nsync_function'
fi
